*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: unset;
}

html,
body {
	height: 100%;
	color-scheme: light dark;
}

body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

img,
svg,
video,
canvas,
picture {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

li {
	list-style: none;
}

main {
	min-height: 100dvh;
}

a {
	color: inherit;
	text-decoration: unset;
}

a:visited {
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

#root,
#__next {
	isolation: isolate;
}

button,
input {
	min-height: 40px;
	min-width: 40px;
	border: none;
	appearance: none;
	color: inherit;
	background-color: initial;
	font-size: initial;
}
