*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: unset;
	padding: unset;
}

html {
	font-size: calc(1rem - 1px);
}

html,
body {
	height: 100%;
	color-scheme: light dark;
}

body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

img,
svg,
video,
canvas,
picture {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

li {
	list-style: none;
}

main {
	min-height: calc(100dvh - 60px);
}

a {
	color: inherit;
	text-decoration: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	display: flex;
	align-items: center;
	gap: 4px;
}

img {
	-webkit-user-drag: none;
}

a:hover {
	text-decoration: underline;
}

#root,
#__next {
	isolation: isolate;
}

button,
input {
	border: none;
	color: inherit;
	min-width: 40px;
	min-height: 40px;
	appearance: none;
	font-size: initial;
	text-align: center;
	border-radius: 99999px;
	background-color: initial;
}

@media screen and (min-width: 768px) {
	html {
		font-size: calc(1rem);
	}
}

@media screen and (min-width: 1024px) {
	html {
		font-size: calc(1rem + 1px);
	}
}
