:root {
	/*  */
}

@media (prefers-color-scheme: dark) {
	:root {
		/*  */
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: unset;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

li {
	list-style: none;
}

main {
	min-height: 100dvh;
}

a {
	color: inherit;
}

a:visited {
	color: inherit;
}

#root,
#__next {
	isolation: isolate;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
