.card {
	background-color: #f6f6f6;
	padding: 1rem;
	border-radius: 1rem;
}

.cards {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.chat {
	grid-column-end: span 2;
}
