{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint-config-nure",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/array-type": ["error", { "default": "array" }],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-use-before-define": [
      "error",
      { "functions": false, "classes": false }
    ],
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "import/no-unresolved": "off",
    "no-void": "off"
  }
}
